/* FavoritesPage.module.css */
.favoritesContainer {
  margin:30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.favoritesCard {
  border-radius: 5px;
  display: flex;
  background-color: #fff;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 400px; /* Puedes ajustar el ancho según tus necesidades */
}

.favoritesImage {
  width: 150px;
  height: 150px;
  object-fit: fill;
  margin-right: 20px;
  border-radius: 5px;
}

.favoritesDetails {
  flex: 1;
}

.favoritesName {
  font-size: 18px;
  font-weight: bold;
}

.favoritesDescription {
  font-size: 14px;
}
